#userButton {
  display: flex;
  border: 1px solid red;
}
#userButton ul {
  width: 100vw;
}
#userButton ul li {
  border: 1px solid red;
  list-style-type: none;
  float: right;
}
#mainLogo {
  width: 100%;
  text-align: center;
  border: 1px solid red;
}
#mainLogo img {
  vertical-align: middle;
  width: 25vw;
  border: 1px solid red;
}

#nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

#nav img {
  width: 20px;
}

#prSection img {
  width: 100%;
  height: 30vh;
  border: 1px solid red;
}

#prSection p {
  text-align: center;
}

#prSection ul {
  display: flex;
  align-items: center;
  height: 50vh;
  list-style-type: none;
  border: 1px solid red;
}

footer section {
  height: 20vh;
  border: 1px solid red;
}
